{% extends 'accounts/base.html' %}

{% block content %}
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
      HMS
    </div>
    <div class="w3-display-middle">
      <h1 class="w3-jumbo w3-animate-top">Login</h1>
      <hr class="w3-border-grey" style="margin:auto;width:40%">
      <p class="w3-large w3-center">
         <form method="post" id="form_login">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
            </form>
      </p>


    </div>

</div>
{% endblock %}