{% extends 'accounts/base.html' %}

{% block content %}
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">

    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top">Check Your Email!</h1>
        <hr class="w3-border-grey" style="margin:auto;width:60%">
        <p class="w3-large w3-center" style="text-align: center;">
        <h4>We've emailed you instructions for setting your password.</h4>
        <h4>You should receive the email shortly!</h4>
        </p>


    </div>

</div>

<!--<h1>Selected Room is {{ room }}</h1>-->
<!--<a href="{% url 'student' %}">student</a>-->
{% endblock %}