{% extends 'accounts/base.html' %}

{% block content %}
<!--<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">-->
<!--    <div class="w3-display-topleft w3-padding-large w3-xlarge">-->
<!--      HMS<br>-->
<!--        All Rooms-->
<!--    </div>-->
<!--    <div style="padding-top: 40px; padding-left: 20px;"></div>-->
<div class="row">
    <h4 class="card-title text-danger">In case you are selecting a room with higher fee amount, please contact your
        warden after applying.
        No refund for already paid amount.</h4>
</div>
<div class="row" style="padding-top:5%">
    {% for y in roomdata %}
    <div class="col-sm-4" style="padding-bottom: 5rem;">
        <div class="card" style="width: 18rem;">
            <div style="max-width: 100%; height: 12rem;">
                <img src='{{ y.cover.url}}' class="card-img-top" alt="..." style="height:100%; max-width:100%;">
            </div>
            <div class="card-body">
                <h4 class="card-title text-dark">Room No: {{y.no}}</h4>
                <p class="card-text text-dark">Room Type: {{y.type}} <br>
                    Occupied by: {{y.present}} <br>
                    Fees : {{y.fees}}
                </p>
                <!--                <p class="card-text text-secondary">-->
                <!--                </p>-->

                <form method="POST" action="{% url 'roomchangeap' y.no %}"
                      onsubmit="send.disabled = true; return true;">
                    {% csrf_token %}
                    {% if y.remains > 0 %}
                    <button name="send" type="submit" class="btn btn-outline-dark">Select Room</button>
                    {% else %}
                    <h3 style="color: red;">Room Full</h3>
                    {% endif %}

                </form>


            </div>
        </div>
    </div>

    {% endfor %}
</div>
<!--    </div>-->
{% endblock %}