{% extends 'accounts/base.html' %}

{% block content %}
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">

<div class="w3-display-topleft w3-padding-large w3-xlarge">
      HMS
    </div>
    <div class="w3-display-topright w3-padding-large w3-xlarge">
      Welcome {{ name }},<br><a href="{% url 'logout' %}">Logout</a><br>
      <a href="{% url 'update' %}">Update Profile</a>
    </div>
<div style="padding-top: 40px; padding-left: 20px;"></div>
    <div style="border: 5px solid white; width:40%; margin: auto; text-align: center">
<h1>Student Info</h1>
<h3> Name </h3> {{ name }}
<h3> Location </h3> {{ location }}
<h3> Age </h3> {{ age }}
<h3> Gender </h3> {{ gender }}
<h3> Room </h3> {{ room }}
{% if room == 'Not Assigned' %}
    <form action="{% url 'rooms' %}">
        <input type="submit" value="Select Room">
    </form>
{% else %}
    <form action="{% url 'changeroom' %}">
        <br><input type="submit" value="Change room">
    </form>
{% endif %}
        </div>
</div>
{% endblock %}