{% extends 'accounts/base.html' %}

{% block side %}
<!--<a class="nav-link nav-social">Welcome Warden</a><br>-->
<!--<a class="nav-link nav-social" href="{% url 'update' %}">Update Profile</a>-->
<a class="nav-link nav-social" href="{% url 'notices' %}">Notice Board</a>
<a class="nav-link nav-social" href="{% url 'applistnew' %}">New Approval</a>
<a class="nav-link nav-social" href="{% url 'applist' %}">Room Approval</a>
<a class="nav-link nav-social" href="{% url 'feesall' %}">Fees Approval</a>
<a class="nav-link nav-social" href="{% url 'history' %}">Fees History</a>
<a class="nav-link nav-social" href="{% url 'studsall' %}">All Students</a>
<a class="nav-link nav-social" href="{% url 'addroom' %}">Add a room</a>
<a class="nav-link nav-social" href="{% url 'logout' %}">Logout</a>
{% endblock %}

{% block content %}
<!--Table-->
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <table class="table table-hover table-fixed text-dark bg-light">
            <thead class="bg-dark text-light">
            <tr class="font-weight-bold">
                <td>Paid By</td>
                <td>Paid On</td>
                <td>Approved</td>
                <td>Amount</td>
            </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>

            {% for y in details %}

            <tr>

                <td>{{y.name}}</td>
                <td>{{y.date}}</td>
                <td>{{y.approve}}</td>
                <td>{{y.amount}}</td>

            </tr>


            {% endfor %}

            </tbody>
            <!--Table body-->

        </table>
        <!--Table-->
    </div>
</div>

{% endblock %}