{% extends 'accounts/base.html' %}

{% block content %}
<!--Table-->
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
<table class="table table-hover table-fixed text-dark bg-light">
  <thead class="bg-dark text-light">
    <tr class="font-weight-bold">
      <td>Paid By</td>
      <td>Paid On</td>
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>

    {% for y in details %}

     <tr>

      <td>{{y.name}}</td>
      <td>{{y.date}}</td>
    </tr>



    {% endfor %}

  </tbody>
  <!--Table body-->

</table>
<!--Table-->
        </div>
</div>

{% endblock %}