{% extends 'accounts/base.html' %}

{% block content %}
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">

    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top">Nothing Here!</h1>
        <hr class="w3-border-grey" style="margin:auto;width:60%">
        <p class="w3-large w3-center" style="text-align: center;">
        <h3>Have You given a Fee Request?</h3>
        <h4>Once a request is added, you can check the status here</h4>
        <h4>If you cant find a previous request, it has been rejected by the warden.</h4>
        <a href="{% url 'student' %}">Go back to Student</a>
        </p>


    </div>

</div>

<!--<h1>Selected Room is {{ room }}</h1>-->
<!--<a href="{% url 'student' %}">student</a>-->
{% endblock %}