{% extends 'accounts/base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
        <!-- Default form register -->

        <form method="POST" class="text-center border border-light p-5" action="{% url 'register' %}"
              onsubmit="sub.disabled = true; return true;">
            {% csrf_token %}

            <p class="h4 mb-4">Sign up</p>

            <!-- Username -->
            <input type="text" id="username" name="username" class="form-control mb-4" placeholder="Username"
                   value="{% if form.username.value == None %}{% else %}{{form.username.value}}{% endif %}">

            <div class="form-row mb-4">
                <div class="col">
                    <!-- First name -->
                    <input type="text" id="defaultRegisterFormFirstName" name="first_name" class="form-control"
                           placeholder="First name"
                           value="{% if form.first_name.value == None %}{% else %}{{form.first_name.value}}{% endif %}">

                </div>
                <div class="col">
                    <!-- Last name -->
                    <input type="text" id="defaultRegisterFormLastName" name="last_name" class="form-control"
                           placeholder="Last name"
                           value="{% if form.last_name.value == None %}{% else %}{{form.last_name.value}}{% endif %}">

                </div>
            </div>

            <!-- E-mail -->
            <input type="email" id="defaultRegisterFormEmail" name="email" class="form-control mb-4"
                   placeholder="E-mail"
                   value="{% if form.email.value == None %}{% else %}{{form.email.value}}{% endif %}">


            <!-- Password -->
            <input type="password" id="defaultRegisterFormPassword" name="password1" class="form-control mb-4"
                   placeholder="Password">

            <!-- Password -->
            <input type="password" id="defaultRegisterFormPassword1" name="password2" class="form-control mb-4"
                   placeholder=" Confirm Password">


            <input type="text" id="location" class="form-control mb-4" name="location" placeholder="Location"
                   value="{% if profile_form.location.value == None %}{% else %}{{profile_form.location.value}}{% endif %}">


            <input type="number" id="age" class="form-control mb-4" name="age" min="0" placeholder="Age"
                   value="{% if profile_form.age.value == None %}{% else %}{{profile_form.age.value}}{% endif %}">


            <select class="form-control mb-4" name="course">
                <option value="CSE">CSE</option>
                <option value="IT">IT</option>
                <option value="ECE">ECE</option>

            </select>

            <select class="form-control mb-4" name="gender">
                <option value="M">Male</option>
                <option value="F">Female</option>


            </select>


            <!-- Sign up button -->
            <button class="btn btn-info my-4 btn-block" name="sub" id="sub" type="submit">Sign Up</button>

            <!-- Social register -->
            <!--            <p>or</p>-->

            <!--            <button class="loginBtn loginBtn&#45;&#45;google">-->
            <!--                Sign In with Google-->
            <!--            </button>-->


            <hr>

            <!-- Terms of service -->
            <p>Have An Account?</p>
            <a href="{% url 'login' %}">Login here</a>

        </form>
        <!-- Default form register -->
    </div>
    <div class="col-sm-3">
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <small>({{ field.label }})</small>
            <small>{{ error|escape }}</small>
        </div>
        {% endfor %}
        {% endfor %}

        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <small>({{ field.label }})</small>
            <small>{{ error|escape }}</small>
        </div>
        {% endfor %}
        {% endif %}

        {% if profile_form.errors %}
        {% for field in profile_form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <small>({{ field.label }})</small>
            <small>{{ error|escape }}</small>
        </div>
        {% endfor %}
        {% endfor %}

        {% for error in profile_form.non_field_errors %}
        <div class="alert alert-danger">
            <small>({{ field.label }})</small>
            <small>{{ error|escape }}</small>
        </div>
        {% endfor %}
        {% endif %}
    </div>

</div>
<br>
<!--<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">-->
<!--    <div class="w3-display-topleft w3-padding-large w3-xlarge">-->
<!--        HMS-->
<!--    </div>-->
<!--    <div style="padding-top: 50px; padding-left: 20px;"></div>-->
<!--    <div style="margin: auto;">-->
<!--        <form method="POST" action="{% url 'register' %}" onsubmit="myButton.disabled = true; return true;">-->
<!--            {% csrf_token %}-->
<!--            <table border="1">-->
<!--                {{ form.as_table }}-->
<!--                {{ profile_form.as_table }}-->
<!--                -->
<!--            </table>-->
<!--           -->
<!--            <input type="submit" value="Create Account">-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
{% endblock %}


