{% extends 'accounts/base.html' %}

{% block content %}
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
      HMS
    </div>
    <div style="padding-top: 40px; padding-left: 20px;"></div>
    <div class="w3-small ">
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {{ form.username}}
            {{ profile_form_p }}
            <input type="submit" value="Create Account">
        </form>
    </div>
</div>
{% endblock %}


