{% extends 'accounts/base.html' %}
{% block side %}

<a class="nav-link nav-social" href="{% url 'student' %}">Room Management</a>
<a class="nav-link nav-social" href="{% url 'addpost' %}">New Notice</a>
<a class="nav-link nav-social" href="{% url 'logout' %}">Logout</a>


{% endblock %}

{% block content %}
<!--<div class="row text-left">-->
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">

        <form method="POST" onsubmit="send.disabled = true; return true;"
              class="post-form text-center border border-light p-5" action="{% url 'reject' username %}">
            {% csrf_token %}
            <h3>Reason for Rejection</h3>
            <hr>

            <textarea name="message" class="form-control mb-4" cols="40" rows="10"
                      id="message" placeholder="Enter Message" required></textarea>
            <button name="send" type="submit" class="btn btn-info my-4 btn-block">Send Message and Delete Request
            </button>
        </form>
    </div>

    <div class="col-sm-3">
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <small>({{ field.label }})</small>
            <small>{{ error|escape }}</small>
        </div>
        {% endfor %}
        {% endfor %}

        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <small>({{ field.label }})</small>
            <small>{{ error|escape }}</small>
        </div>
        {% endfor %}
        {% endif %}
    </div>

</div>

{% endblock %}


