{% extends 'accounts/base.html' %}

{% block content %}
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
      HMS<br>
        All Rooms
    </div>
    <div class="w3-display-topright w3-padding-large w3-xlarge">
      <a href="{% url 'logout' %}">logout</a><br>
       <a href="{% url 'addroom' %}">Add a room</a>
    </div>
    <div style="padding-top: 40px; padding-left: 20px;"></div>


{% for y in roomdata %}
    <div style="border: 5px solid white; width:20%; margin: auto; text-align: center">
    <h2>Room No: {{y.no}}</h2>
    <h3>Room Type: {{y.type}} </h3>
    <h3>Occupied by: {{y.present}}</h3>
    <img src='{{ y.cover.url}}' style="max-height:100%; max-width:100%;">


    <form method="POST" action="{% url 'roomdetails' y.no %}">
            {% csrf_token %}

            <input type="submit" id="{{y.no}}" value="View Inmates">


    </form>
    </div>
    <br>
{% endfor %}
    </div>
    {% endblock %}

<!--<h1>All Rooms</h1>-->
<!--{% for y in roomdata %}-->
<!--    <h2>Room No: {{y.no}}</h2>-->
<!--    <h3>Room Type: {{y.type}} </h3>-->
<!--    <h3>Occupied by: {{y.present}}</h3>-->



<!--    <form method="POST" action="{% url 'roomdetails' y.no %}">-->
<!--            {% csrf_token %}-->

<!--            <input type="submit" id="{{y.no}}" value="View Inmates">-->


<!--    </form>-->
<!--{% endfor %}-->