{% extends 'accounts/base.html' %}
{% block side %}
<!--<a class="nav-link nav-social">Welcome Warden</a><br>-->
<!--<a class="nav-link nav-social" href="{% url 'update' %}">Update Profile</a>-->
<a class="nav-link nav-social" href="{% url 'notices' %}">Notice Board</a>
<a class="nav-link nav-social" href="{% url 'applistnew' %}">New Approval</a>
<a class="nav-link nav-social" href="{% url 'applist' %}">Room Approval</a>
<a class="nav-link nav-social" href="{% url 'feesall' %}">Fees Approval</a>
<a class="nav-link nav-social" href="{% url 'history' %}">Fees History</a>
<a class="nav-link nav-social" href="{% url 'studsall' %}">All Students</a>
<a class="nav-link nav-social" href="{% url 'addroom' %}">Add a room</a>
<a class="nav-link nav-social" href="{% url 'logout' %}">Logout</a>


{% endblock %}


{% block content %}


<!--    <div class="w3-display-topright w3-padding-large w3-xlarge">-->
<!--      <a href="{% url 'wardenhome' %}">All Rooms</a><br>-->

<!--    </div>-->
<!--<div style="padding-top: 40px; padding-left: 20px;"></div>-->
<!--    <div style="border: 5px solid white; width:40%; margin: auto; text-align: center">-->
<div class="row" style="padding-top:10%">
    {% for y in studdata %}
    <div class="col-sm-4" style="padding-bottom: 5rem;">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <h5 class="card-title text-dark align-middle">{{y.name}}</h5>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-dark">{{y.course}}</h6>
                <!--                <p class="card-text text-dark">Fees will go here.</p>-->
                {% if y.fees == False %}
                <p class="card-text text-danger">Fees Not Paid</p>
                {% else %}
                <p class="card-text text-success">Fees Paid</p>
                {% endif %}
                <a href="{% url 'studetail' y.username %}" class="card-link text-dark">View Profile</a>
                <!--                <a href="#" class="card-link text-dark">Another link</a>-->
            </div>
        </div>

    </div>
    {% empty %}
    <div class="col-sm-12" style="padding-bottom: 5rem;">

        <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">

            <div class="w3-display-middle">
                <h1 class="w3-jumbo w3-animate-top">Room is Empty!</h1>
                <hr class="w3-border-grey" style="margin:auto;width:60%">
                <p class="w3-large w3-center" style="text-align: center;">
                    <!--         <h1>You have already given a change request</h1>-->

                <h3>No inmates here</h3>
                <a href="{% url 'student' %}">Go back</a>
                </p>


            </div>

        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

