{% extends 'accounts/base.html' %}

{% block content %}
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">

    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top">Please Wait!</h1>
        <hr class="w3-border-grey" style="margin:auto;width:60%">
        <p class="w3-large w3-center" style="text-align: center;">
        <h1>You have already given a request</h1>

        <h4>You will recieve an email when your request has been processed</h4>
        <a href="{% url 'student' %}">Go back to Student</a>
        </p>


    </div>

</div>

<!--<h1>Selected Room is {{ room }}</h1>-->
<!--<a href="{% url 'student' %}">student</a>-->
{% endblock %}