{% extends 'accounts/base.html' %}

{% block content %}
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">

    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top">Oops! Select a room first!</h1>
        <hr class="w3-border-grey" style="margin:auto;width:60%">
        <p class="w3-large w3-center" style="text-align: center;">
        <h5>If you have already selected a room, please try after your request has been approved.</h5>
        <h3>Your fees is calculated based on the room selected</h3>
        <!--        <h3>Please wait for a warden to approve</h3>-->
        <a href="{% url 'student' %}">Go back to Student</a>
        </p>


    </div>

</div>

<!--<h1>Selected Room is {{ room }}</h1>-->
<!--<a href="{% url 'student' %}">student</a>-->
{% endblock %}