{% extends 'accounts/base.html' %}
{% block side %}
<a class="nav-link nav-social" href="{% url 'notices' %}">Notice Board</a>
<a class="nav-link nav-social" href="{% url 'applistnew' %}">New Approval</a>
<a class="nav-link nav-social" href="{% url 'applist' %}">Room Approval</a>
<a class="nav-link nav-social" href="{% url 'feesall' %}">Fees Approval</a>
<a class="nav-link nav-social" href="{% url 'history' %}">Fees History</a>
<a class="nav-link nav-social" href="{% url 'studsall' %}">All Students</a>
<a class="nav-link nav-social" href="{% url 'addroom' %}">Add a room</a>
<a class="nav-link nav-social" href="{% url 'logout' %}">Logout</a>
{% endblock %}
{% block content %}
<!--Table-->
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <table class="table table-hover table-fixed text-dark bg-light">
            <thead class="bg-dark text-light">
            <tr class="font-weight-bold">
                <td>First Name</td>
                <td>Last Name</td>
                <td>Branch</td>
                <td>Room</td>
                <td>Fees Paid</td>
            </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>

            {% for y in details %}

            <tr>

                <td>{{y.name1}}</td>
                <td>{{y.name2}}</td>
                <td>{{y.course}}</td>
                <td>{{y.room}}</td>
                <td>{{y.approve}}</td>
            </tr>


            {% endfor %}

            </tbody>
            <!--Table body-->

        </table>
        <!--Table-->
    </div>
</div>

{% endblock %}